/* 1. Спозиционировать абсолютно модельное окно, задать top и left 50%, задать margin-left и margin-top отрицательно 
на половину ширины и высоты окна. Пример:
.modal{
  position: absolute;
  width: 200px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: 100px;
  margin-right: 200px;
}
2. Добавив обертку для модального окна в виде flex-элемента. Пример: 
.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
3. Добавив обертку для модального окна в виде grid-элемента. Пример: 
.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
}

.modal{
  align-self: center;
  justify-self: center;
} 
4. Добавив обертку для модального окна, задать модальному окну width и height и добавить внутренние отступы wrapper. Пример:

.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 300px 500px;
}

.modal{
  width: 100%;
  heightL 100%;
} 
*/
